div.athlete_card {
    position: relative;
    margin: 15px auto;
    max-width: 485px;
    div.athlete_bio {
        position: absolute;
        width: 100%;
        padding: 20px 25px;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.0;
        background: white;
        height: 100%;
        h2, h3, h4 {
            margin: 0;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 16px;
            color: $gray;
            margin-bottom: 10px;
        }
        h4  {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 600;
        }
        p {
            font-size: 12px;
            margin-bottom: 0px;
            font-weight: 500;
            color: $gray;
        }
        div.bio_copy {
            margin: 10px 0;
            font-size: 12px;
            p {
                margin-bottom: 5px;
            }
        }
        &:hover, .active_bio {
            opacity: 0.9;
        }
        p.photo_credit {
            position: absolute;
            bottom: 2px;
            font-size: 10px;
            color: $gray;
            width: 30%;
        }
    }
    @media (max-width: 1200px) and (min-width: 992px),
    (max-width: 768px) and (min-width: 400px) {
        div.athlete_bio {
            h2 {
                font-size: 36px;
            }
            h3 {
                font-size: 24px;
                margin-bottom: 30px;
            }
            h4, p {
                font-size: 18px;
            }
            div.bio_copy {
                margin: 30px 0;
            }
        }
    }
}

#schedule_results, #aggregated_results {
    h3 {
        padding: 20px 10px;
        text-align: center;
        color: $black;
        font-size: 18px;
        margin: 0;
        color: white;
        font-weight: 400;
        background: green;
    }
    div.padding_box {
        padding: 10px 15px;
        min-height: 220px;
        position: relative;
        background: lighten($gray, 45%);
        padding-bottom: 50px;
    }
}

#schedule_results {
    margin-top: 30px;
    h3 {
        padding: 20px 10px;
        text-align: center;
        color: $black;
        font-size: 18px;
        margin: 0;
        color: white;
        font-weight: 400;
        background: green;
    }
    #todays_events, #vermonter_results, #updated {
        z-index: 10;
        max-width: 375px;
        position: relative;
        margin: 0 auto 30px;
        p.img_credit {
            position: absolute;
            bottom: 0px;
            right: 5px;
            background: white;
            opacity: 0.5;
            padding: 3px;
            font-size: 10px;
            color: black;
        }
        h4 {
            font-size: 14px;
            margin: 0;
        }
        p {
            font-size: 12px;
            color: $gray;
            line-height: 1.2em;
        }
        a {
            @include lt_link(lighten($gray, 50%), $black, 2px);
        }
        p.olympic_link {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            text-align: center;
        }
    }
    #todays_events {
        h3 {
            background: lighten($red, 10%);
        }
        .vermonter_event {
            color: $green;
            font-weight: 500;
        }
        #vt_green {
            font-size: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    #vermonter_results {
        h3 {
            background: lighten($blue, 10%);
        }
        #no_results {
            margin: 40px 40px;
            text-align: center;
            font-size: 14px;
        }
        .padding_box {
            padding-top: 40px;
        }
    }
    #updated {
        p {
            text-align: center;
            font-size: 18px;
        }
        .padding_box {
            min-height: 0px;
            padding-top: 50px;
        }
        h3 {
            background: lighten($red, 10%);
        }
    }
    @media (max-width: 1200px) {
        #updated {
            p {
                font-size: 14px;
            }
        }
    }
}

#athletes {
    text-align: center;
    font-size: 62px;
    font-weight: 300;
    padding-bottom: 20px;
    margin-top: 30px;
    @media (max-width: 992px) {
        font-size: 48px;
    }
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

#touch {
    text-align: center;
    color: $gray;
    display: none;
    margin-top: -25px;
}

#aggregated_results {
    margin-top: 10px;
    h3 {
        background: lighten($blue, 10%);
        margin-top: 0 !important;
    }
    p.athlete_result, p.olympic_link {
        font-size: 12px;
        color: $gray;
    }
    p.olympic_link {
        text-align: center;
        margin-top: 40px;
        a {
            @include lt_link(lighten($gray, 40%), $gray, 2px);
        }
    }
}
