{% extends "base.html" %}

{% block title %}Olympics 2014: Vermonters In Sochi | VPR{% endblock %}

{% block content %}

{% include "cover-photo.html" %}

<div id="schedule_results" class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div id="todays_events">
                <h3>Today's Events</h3>
                <div class="padding_box">
                    <p id="vt_green"><span class="vermonter_event">Green</span> indicates a Vermonter is competing in the event</p>
                    {% for sport in sports %}
                        <h4>{{ sport.name }}</h4>
                        <p class="events">
                        {% for event in sport.events %}
                            {% if event %}
                                {% if loop.index0 != 0 %}, {% endif %}
                                <span {% if sport.vermonters[loop.index0] %}class="vermonter_event"{% endif %}>{{ event|title }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </p>
                    <p
                    <p class="olympic_link"><a href="http://www.sochi2014.com/en/schedule-and-results" alt="Full Olympics Schedule">Click here</a> for the full schedule of events</p>
                </div>
                <p class="img_credit">{{ photos[1].credit }}</p>
                <img class="img-responsive" src="{{ url_for('static', filename=photos[1].url) }}" alt="Today's Events Photo">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div id="vermonter_results">
                <h3>Recent Results</h3>
                <div class="padding_box">
                {% if results %}
                    {% for result in results %}
                        <h4>{{ result.name|title }}</h4>
                        <p>{{ result.medal|title }} in {{ result.event|title }}</p>
                    {% endfor %}
                {% else %}
                    <p id="no_results">No results were reported yesterday for Vermont's Olympians</p>
                    {% endif %}
                    <p class="olympic_link"><a href="#aggregated_results" alt="Latest Olympic results">Click here</a> for full results of Vermont's Olympians</p>
                </div>
                <p class="img_credit">{{ photos[2].credit }}</p>
                <img class="img-responsive" src="{{ url_for('static', filename=photos[2].url) }}" alt="Medal Ceremony">
            </div>
        </div>
        <div id="uw" class="col-md-4 col-sm-12 clearfix">
            <div id="updated">
                <h3>Last Updated</h3>
                <div class="padding_box">
                    <p>{{ updated[0].updated }}</p>
                </div>
            </div>
            {% include "underwriter.html" %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h2 id="athletes">Vermont Olympians</h2>
        <p id="touch">Tap on a photo to see an athlete bio.</p>
    </div>
    {% for athlete in athletes %}
        <div class="athlete_card col-lg-3 col-sm-6">
            <div class="athlete_bio">
                <h2>{{ athlete.name|title }}</h2>
                <h3>{{ athlete.event|title }}</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <h4>Vermont Home</h4>
                        <p class="facts">{{ athlete.home }}</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Age</h4>
                        <p class="facts">{{ athlete.age }}</p>
                    </div>
                </div>
                <h4>Olympic Experience</h4>
                <p class="facts">
                {% if not athlete.us and not athlete.italy and not athlete.canada %}
                First Olympics</p>
                {% else %}
                {% if athlete.us %}{{ athlete.us|title }} '02,{% endif %}
                {% if athlete.italy %}{{ athlete.italy|title }} '06,{% endif %}
                {% if athlete.canada %}{{ athlete.canada|title }} '10{% endif %}
                </p>
                {% endif %}

                <div class="bio_copy">
                    <p>{{ athlete.career }}</p>
                    <p>{{ athlete.story }}</p>
                </div>
                {% if athlete.result2014 %}
                <h4>2014 Results</h4>
                <p>{{ athlete.result2014|replace(';', '</p><p>')|safe }}</p>
                {% endif %}
                <p class="photo_credit">Photo Credit: {{ athlete.credit }}</p>
            </div>

            <img class="img-responsive" src="{{ url_for('static', filename='img/athletes/%s' %(athlete.image)) }}" alt="{{ athlete.name|title }} Olympic bio photo">
        </div>
        {% if loop.index is divisibleby 4 %}
    </div>
    <div class="row">
        {% elif loop.index is divisibleby 2 %}
        <div class="clearfix visible-md">
        </div>
        <div class="clearfix visible-sm">
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="row" id="aggregated_results">
        <div class="col-sm-10 col-sm-offset-1">
            <div id="aggregated_results">
                <h3>All Vermonter Results</h3>
                <div class="padding_box">
                    {% for athlete in athletes %}
                    {% if loop.index is not divisibleby 2 %}
                    <div class="row">
                    {% endif %}
                        {% if loop.index is not divisibleby 2 %}
                        <div class="col-sm-6">
                            <h4>{{ athlete.name|title }}</h4>
                            {% if athlete.result2014 %}
                            <p class="athlete_result">{{ athlete.result2014 }}</p>
                            {% else %}
                            <p class="athlete_result">Results not yet reported. Check back soon.</p>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if loop.index is divisibleby 2 %}
                        <div class="col-sm-6 clearfix">
                            <h4>{{ athlete.name|title }}</h4>
                            {% if athlete.result2014 %}
                            <p class="athlete_result">{{ athlete.result2014 }}</p>
                            {% else %}
                            <p class="athlete_result">Results not yet reported. Check back soon.</p>
                            {% endif %}
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row">

                        <p class="col-xs-12 olympic_link"><a href="http://www.sochi2014.com/en/last-results" alt="Latest Olympic results">Click here</a> for all of the latest results</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "river.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.3-ck.js') }}"></script>
{% endblock %}
