{% extends "base.html" %}

{% block title %}Olympics 2014: Vermonters In Sochi | VPR{% endblock %}

{% block content %}

{% include "cover-photo.html" %}

<div id="schedule_results" class="container">
    <div class="row" id="aggregated_results">
        <div class="col-md-8">
            <div id="aggregated_results">
                <h3>How They Did</h3>
                <div class="padding_box">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Kelly Clark <i class="bronze icon ion-ios7-circle-filled"></i></h4>
                            <p class="athlete_result"><span class="medal">Bronze</span> in Women&#39;s Halfpipe</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Hannah Teter</h4>
                            <p class="athlete_result">4th in Women&#39;s Halfpipe</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Hannah Kearney <i class="bronze icon ion-ios7-circle-filled"></i></h4>
                            <p class="athlete_result"><span class="medal">Bronze</span> in Women&#39;s Moguls</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Lindsey Jacobellis</h4>
                            <p class="athlete_result">7th in Women&#39;s Snowboard Cross</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Devin Logan <i class="silver icon ion-ios7-circle-filled"></i></h4>
                            <p class="athlete_result"><span class="medal">Silver</span> in Women&#39;s Ski Slopestyle</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Ty Walker</h4>
                            <p class="athlete_result">6th in Women&#39;s Slopestyle Semifinals
</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Nolan Kasper</h4>
                            <p class="athlete_result">13th in Men&#39;s Slalom</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Andy Newell</h4>
                            <p class="athlete_result">11th in Men&#39;s Relay 4x10k</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Liz Stephen</h4>
                            <p class="athlete_result">12th in Women&#39;s Skiathlon 7.5k</p>
                            <p class="athlete_result">9th in Women&#39;s 4x5k Relay</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Ida Sargent</h4>
                            <p class="athlete_result">19th in Women&#39;s Free Sprint</p>
                            <p class="athlete_result">34th in Women&#39;s 10k Classic</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Hannah Dreissigacker</h4>
                            <p class="athlete_result">65th in Women&#39;s 7.5k Sprint</p>
                            <p class="athlete_result">23rd in Women&#39;s 15k Individual</p>
                            <p class="athlete_result">9th in Mixed Team Relay</p>
                            <p class="athlete_result">7th in 4x6 Relay</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Susan Dunklee</h4>
                            <p class="athlete_result">14th in 7.5k Sprint</p>
                            <p class="athlete_result">18th in 10k Pursuit</p>
                            <p class="athlete_result">34th in 15k Individual</p>
                            <p class="athlete_result">12th in 12.5k Mass Start</p>
                            <p class="athlete_result">9th in Mixed Team Relay</p>
                            <p class="athlete_result">7th in 4x6 Relay</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Sophie Caldwell</h4>
                            <p class="athlete_result">6th in Women&#39;s Free Sprint</p>
                            <p class="athlete_result">32nd in Women&#39;s 10k Classic</p>
                            <p class="athlete_result">8th in Team Sprint Classic</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Mikaela Shiffrin <i class="gold icon ion-ios7-circle-filled"></i></h4>
                            <p class="athlete_result"><span class="medal">Gold</span> in slalom</p>
                            <p class="athlete_result">5th in Women&#39;s Giant Slalom</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Jackie Hernandez</h4>
                            <p class="athlete_result">DNS, Women&#39;s Snowboard Cross Quarterfinals</p>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <h4>Alex Deibold <i class="bronze icon ion-ios7-circle-filled"></i></h4>
                            <p class="athlete_result"><span class="medal">Bronze</span> in Men&#39;s Snowboard Cross</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="uw" class="col-md-4 col-sm-12 clearfix">
            {% include "underwriter.html" %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h2 id="athletes">Vermont Olympians</h2>
        <p id="touch">Tap on a photo to see an athlete bio.</p>
    </div>
    {% for athlete in athletes %}
        <div class="athlete_card col-lg-3 col-sm-6">
            <div class="athlete_bio">
                <h2>{{ athlete.name|title }}</h2>
                <h3>{{ athlete.event|title }}</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <h4>Vermont Home</h4>
                        <p class="facts">{{ athlete.home }}</p>
                    </div>
                    <div class="col-xs-4">
                        <h4>Age</h4>
                        <p class="facts">{{ athlete.age }}</p>
                    </div>
                </div>
                <h4>Olympic Experience</h4>
                <p class="facts">
                {% if not athlete.us and not athlete.italy and not athlete.canada %}
                First Olympics</p>
                {% else %}
                {% if athlete.us %}{{ athlete.us|title }} '02,{% endif %}
                {% if athlete.italy %}{{ athlete.italy|title }} '06,{% endif %}
                {% if athlete.canada %}{{ athlete.canada|title }} '10{% endif %}
                </p>
                {% endif %}

                <div class="bio_copy">
                    <p>{{ athlete.career }}</p>
                    <p>{{ athlete.story }}</p>
                </div>
                {% if athlete.result2014 %}
                <h4>2014 Results</h4>
                <p class="card_result">{{ athlete.result2014 }}</p>
                {% endif %}
                <p class="photo_credit">Photo Credit: {{ athlete.credit }}</p>
            </div>

            <img class="img-responsive" src="{{ url_for('static', filename='img/athletes/%s' %(athlete.image)) }}" alt="{{ athlete.name|title }} Olympic bio photo">
        </div>
        {% if loop.index is divisibleby 4 %}
    </div>
    <div class="row">
        {% elif loop.index is divisibleby 2 %}
        <div class="clearfix visible-md">
        </div>
        <div class="clearfix visible-sm">
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% include "river.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.4-ck.js') }}"></script>
{% endblock %}
