<div id="cover_photo">
    <img id="cover_img" src="{{ photos[0].url }}" />
    <h2 id="small_screen_h2">OLYMPICS 2014:<br /> VERMONTERS IN SOCHI</h2>
    <div id="photo_credit">
        <div id="credit_box" class="hidden-xs">
            <p>{{ photos[0].caption }}</p>
            <p>Credit: {{ photos[0].credit|title }}</p>
        </div>
    </div>
    <div id="big_screen_h2">
        <h2>OLYMPICS 2014: <br />VERMONTERS IN SOCHI</h2>
        <i class="icon ion-chevron-down"></i>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="xs_credit" class="col-xs-12 visible-xs">
            <p>{{ photos[0].caption }}</p>
            <p>Credit: {{ photos[0].credit|title }}</p>
        </div>
    </div>
</div>
